Assets/Assets/Gif filter=lfs diff=lfs merge=lfs -text
Assets/ filter=lfs diff=lfs merge=lfs -text
Gif filter=lfs diff=lfs merge=lfs -text
CasualGameSounds/ filter=lfs diff=lfs merge=lfs -text
Cainos/ filter=lfs diff=lfs merge=lfs -text
Enemy/ filter=lfs diff=lfs merge=lfs -text
LootSysten/ filter=lfs diff=lfs merge=lfs -text
Packages/ filter=lfs diff=lfs merge=lfs -text
Player/ filter=lfs diff=lfs merge=lfs -text
ProjectSettings/ filter=lfs diff=lfs merge=lfs -text
Storyline/ filter=lfs diff=lfs merge=lfs -text
Builds filter=lfs diff=lfs merge=lfs -text
*.exe filter=lfs diff=lfs merge=lfs -text
*.resS filter=lfs diff=lfs merge=lfs -text
Builds/AllWhoWander_win.exe filter=lfs diff=lfs merge=lfs -text
Builds/AllWhoWander_win_BurstDebugInformation_DoNotShip filter=lfs diff=lfs merge=lfs -text
Builds/AllWhoWander_win_Data filter=lfs diff=lfs merge=lfs -text
Builds/MonoBleedingEdge filter=lfs diff=lfs merge=lfs -text
Builds/UnityCrashHandler64.exe filter=lfs diff=lfs merge=lfs -text
Builds/UnityPlayer.dll filter=lfs diff=lfs merge=lfs -text
